@import url(reset.css);
@import url(default.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@font-face {
  font-family: 'CJ ONLYONE';
  src: url('../fonts/CJONLYONEMedium.woff2') format('woff2'),
      url('../fonts/CJONLYONEMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CJ ONLYONE';
  src: url('../fonts/CJONLYONEBold.woff2') format('woff2'),
      url('../fonts/CJONLYONEBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* <layout> */
body {
  width: 1920px;
  font-size: 18px;
  color: #3a3a3a;
  font-family: 'Noto Sans KR', sans-serif; 
}
.container {             /* 본문의 너비 */
  width: 1272px;     
  margin: 0 auto;
}
.big_pd {                /* 섹션별 간격 4줄(27 * 4) */
  padding: 54px 0;
}
.sm_pd {
  padding: 27px 0;       /* 헤더 상단 & 푸터 하단 간격 1줄 */
}

.main_mb {
  margin-bottom: 40px;   /* 타이틀과 콘텐츠 사이 간격 */
}

.hidden{
  display: none;       
}
.cf:after {
  content: '';           
  display: block;
  clear: both;
}

/* typography */
.main_tt {                   
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.03em;  
}
.sub_tt {                   
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -0.01em;   
}
.sub_p {                   
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.03em;   
}

.main_p {                 
  font-size: 18px;           
}
.con_tt {                 
  font-size: 14px;
}
.foot_tt {                   
  font-size: 13px;           
  line-height: 27px;
}

/* colors */
.light-gray-bg { background: #ebebeb;}
.dark-g1 { color: #3a3a3a; }
.dark-g2 { color: #8a8a8a; }
.dark-g3 { color: #303030; }
.navy-bg { background: #063d6c; }
.navy { color: #063d6c; }
.highlight-bg { background: #e64947; }
.highlight { color: #e64947; }
.secondary { color: #f5a39d; }

/* link & button */
.all_btn {                 
  font-size: 15px;
  font-weight: bold;
  color: #063d6c;
  border: 1px solid #063d6c;
  border-radius: 4px;
  padding: 7px;
  margin-right: 10px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,.5);
}
.all_btn i { margin-right: 6px; }       

.carousel {
  background: rgba(58, 58, 58, .7);
  width:50px;
  height:50px;
  border-width: 50%;
  color:#fff;
  font-size: 32px;
}