/* HEADER 시작 (유림) */
 /* HEADER 끝 (유림) */

/* MAIN_1 시작 (이원) */
/* 예고편 영상 */
.playbtn, .pausebtn {
    width: 120px;
    height: 120px;
    background: #e64947;
    border-radius: 50%;
    margin: 0 auto;
    color: #fff;
    font-size: 40px;
  }

/* 무비차트 & 상영예정작 */
.movieChart {
    position: relative;
}

.movieChart_tt {
    /* width: 100%; */
    text-align: center;
    padding-top:54px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.03em;
}

.movieChart_tt a:first-child{
    color: #e64947;
    font-weight: bold;
    margin-right: 30px;
    border-bottom: 4px solid #e64947;
}

.movieChart_tt a:first-child.active{
    color:#3a3a3a;
    font-weight: medium;
}

.movieChart_tt a:last-child {
    color:#3a3a3a;
    font-weight: medium;
}

.movieChart_tt a:last-child:hover {
    color: #e64947; 
    font-weight: bold;
    border-bottom: 4px solid #e64947;
}

.movieChart .all_btn {
    position: absolute;
    top: 115px;
    right: 0;
}

.slidewrapper{
    position: relative;
}

/* 무비차트 div */
.MovieChart_wrap {
    position: relative;
    overflow: hidden;
}

/* 무비차트 ui */
.MovieChart_slide_wrap {
    left: 0;
    top: 0;
    position: relative;
    height: 404px;
    transition: left 0.4s ease-in;
}

/* 무비차트 li */
.MovieChart_slide {
    width: 222px;
    position: relative;
    margin-right: 40px;
    float: left;
}

.MovieChart_slide h3 {
    text-align: center;
    margin-top: 20px;
    letter-spacing: -0.03em;
}

.MovieChart_slide .angelimint {
    position: absolute;
    top: 10px;
    right: 10px;
}

.poster {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.poster:after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to top, #000, rgba(0,0,0,0));
    opacity: 0.2;
}

#prev.disabled,
#next.disabled {
    display: none;
}

.slidewrapper .mC_prevBtn {
    top: 138px;
    left: -25px;
    position: absolute;
}

.slidewrapper .mC_nextBtn {
    top: 138px;
    right: -22px;
    position: absolute;
}

.MovieChart_wrap span {
    float: left;
}

.MovieChart_wrap span:after{
    display: block;
    clear: both;
    content: '';
}

.egg {
    color: #303030;
    margin: 15px 12px 0 0;
}

.egg img{
    vertical-align: top;
}

.screenType {
    margin-top: 10px;
}

.poster_hover a{
    position: absolute;
    font-size: 17px;
    width: 130px;
    height: 41px;
    font-weight: medium;
    text-align: center;
    border-radius: 12px;
    line-height: 40px;
}

.poster:hover:after {
    background: #000;
    opacity: 0.5;
}

.poster_hover {
    display: none;
}


.ticketing {
    background: #e64947;
    color: #fff;
    top: 121px;
    left: 46px;
    margin-bottom: 6px;
    line-height: 32px;
}

.detail {
    background: #fff;
    color: #3a3a3a;
    top: 167px;
    left: 46px;
}
/* MAIN_1 끝 (이원) */

/* MAIN_2 시작 (수연) */
/* MAIN_2 끝 (수연) */

/* MAIN_3 시작 (정석) */
/* MAIN_3 끝 (정석) */