/* css reset의 3step : common.css 로드하기만 하면, reset.css 불러오도록 세팅 */
@import url(reset.css);

/* Noto-sans KR 폰트 적용(regular,400/medium,500/bold,700) */ 
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* <layout> */
body {
  width: 1920px;
  font-size: 18px;
  color: #3a3a3a;
}
.container {             /* 본문의 너비 */
  width: 1272px;     
  margin: 0 auto;
}
.big-pd {                /* 섹션별 간격 4줄(27 * 4) */
  padding: 54px 0;
}
.sm-pd {
  padding: 27px 0;       /* 헤더 상단 & 푸터 하단 간격 1줄 */
}
.main-mb {
  margin-bottom: 40px;   /* 타이틀과 콘텐츠 사이 간격 */
}
.hidden{
  display: none;         /* 필요여부 확인 필요 */
}
.cf:after {
  content: '';           /* 필요여부 확인 필요 */
  display: block;
  clear: both;
}

/* typography */
body {
  font-family: 'Noto Sans KR', sans-serif;    
}
.main-tt1 {                  /* before: .main_tt */
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.03em;   /* 확인 필요 */
}
.main-tt2 {                  /* before: .sub_tt */
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -0.01em;   /* 확인 필요 */
}
.con-tt1 {                   /* before: .sub_p */
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.03em;   /* 확인 필요 */
}
.con-tt2 {                   /* before: 기존에 없었음 */
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -0.01em;
}
.con-desc1 {                 /* before: .main_p */
  font-size: 18px;           /* .body에 집어넣고, 해당 클래스명 없애도 되지 않을까? */
}
.con-desc2 {                 /* before: .con_tt */
  font-size: 14px;
}
.foot-tt {                   /* before: .foot_tt */
  font-size: 13px;           /* common.html의 주석 확인 요망 */
  line-height: 27px;
}

/* colors */
.light-gray-bg { background: #ebebeb;}
.dark-g1 { color: #3a3a3a; }
.dark-g2 { color: #8a8a8a; }
.dark-g3 { color: #303030; }
.navy-bg { background: #063d6c; }
.navy { color: #063d6c; }
.highlight-bg { background: #e64947; }
.highlight { color: #e64947; }
.secondary { color: #f5a39d; }

/* link & button */
.allv-btn {                 /* before: .all_btn */
  font-size: 15px;
  font-weight: bold;
  color: #063d6c;
  border: 1px solid #063d6c;
  border-radius: 4px;
  padding: 7px;
  margin-right: 10px;
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,.5);
}
.allv-btn i { margin-right: 6px; }       

.hash {
  background: #fff;
  color: #3a3a3a;
  line-height: 26px;
  letter-spacing: -0.03em;
  padding: 0 16px;
  border-radius: 15px;
  border: 1px #ebebeb;
}
